<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>絞り込み</title>
  <style>
  body {
    font-family:serif;
  </style>
</head>
<body>
  <h2>絞り込み結果</h2>
  <table border="1">
    <tr>
      <th>ID　</th>
      <th>商品名　</th>
      <th>カロリー　</th>
      <th>容量　</th>
      <th>メーカー名　</th>
      <% for( let row of data ) { %>
        <tr>
            <td><a href="public/name.html"><%= row.id %></a></td>
            <td><%= row.name %></td>
            <td><%= row.cal %></td>
            <td><%= row.size %></td>
            <td><%= row.name2 %></td>
        </tr>
      <% } %>
    </tr>
  </table>
        <a href="/makerselect">絞り込みメーカーを変える</a><br>
        <a href="/company">商品を追加</a><br>
        <a href="/delch">商品を削除</a><br>
        <a href="/top">一覧へ戻る</a><br>
        
</body>
</html>