<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
  <style>
  body {
    font-family:serif;
  }
  </style>
</head>
<body>
  <h2>一覧表</h2>
  <form action="/itiran">
		  <label for="item">並び順：</label>
	    <select name="item">
	      <option value="id">ID</option>
		    <option value="cal">カロリー</option>
		  </select>
    <input type="radio" name="desc" value="asc" checked>
    <label for="desc">昇順</label>
    <input type="radio" name="desc" value="desc">
    <label for="desc">降順</label>
    
    <input type="submit" value="並び替え">
  </form>
  <a href="/makerselect">メーカーごとに表示</a>
  <a href="public/name.html">商品名検索</a>

  
  <form action="/detail">
    <table border="1">
      <tr>
        <th>ID　</th>
        <th>商品名　</th>
        <th>カロリー　</th>
        <th>容量　</th>
        <% for( let row of data ) { %>
          <tr>
              <td><label><input type="radio" name="id" value="<%= row.id %>"><%= row.id %></label></td>
              <td><%= row.name %></td>
              <td><%= row.cal %></td>
              <td><%= row.size %></td>
          </tr>
        <% } %>
      <!--
      <% for( let row of data ) { %>
        <tr>
            <td><%= row.id %></a></td>
            <td><%= row.name %></td>
            <td><%= row.cal %></td>
            <td><%= row.size %></td>
        </tr>
      <% } %>
      -->
      </tr>
    </table>
    <input type="submit" value="選択した商品の詳細を表示">
  </form>
        
        <a href="/">トップへ戻る</a><br>
        <a href="/insele">商品を追加</a><br>
        <a href="/desele">商品を削除</a><br>
</body>
</html>